:root{
    --background: black;
    --hovercolor:white;
    --maintext:#c377e0;
    --evenbackground: white;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--background);
    color: var(--maintext);
}

a {
    text-decoration: none;
    color: var(--maintext)
}

p{
    line-height: 1em;
    margin-top: 2%;
}

ul {
    list-style-type: none;
    font-size: 100%;
}

header {
    height: 825px;
    position: relative;
    color: var(--maintext);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header h1 {
    text-align: center;
    position:absolute; 
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);  
}

header nav {
    padding: 20px;
    font-size: 15px;
    background-color: var(--background);
    position: fixed;
    right: 0px;
    top: 20px;
    z-index: 10;
    border-radius: 50px 0 0 50px;
    overflow: auto;
}

header nav ul {
    margin-right: 20px;
}

header nav ul li {
    display: inline-block;
    margin: 20px;
    font-size: 20px;
}

header nav ul li a { /*Add a fallback style sheet*/
    color: var(--maintext);
}

h1:hover, h1:active {
    text-shadow: 1px 1px 10px var(--hovercolor);
}

h2:hover, h2:active {
    text-shadow: 1px 1px 10px var(--hovercolor);
}

li:hover, li:active {
    text-shadow: 2px 2px 10px var(--hovercolor);
}


.flex-container {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    overflow: auto;
}

.flex-container .bio-kid {
    flex-basis: 300px;
    margin-left: 20px;
    padding: 20px;
}

.flex-container img {
    border-radius: 50px;
    border-radius: 50px;
    width: 300px;
    filter: drop-shadow(40px 60px 30px grey);
}

#my-work h2 {
    padding-top: 100px;
    padding-left: 100px;
    overflow: auto;
}

#my-work{
    background-color: var(--background);
    padding: 20px;
    height: 900px;
}

.work {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
}

#my-work .work img {
    width: 200px;
}

img:hover, img:active {
       box-shadow: 1px 1px 10px var(--maintext);
    }


#contact {
    height: 900px;
    background-color: var(--evenbackground);
    padding: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
}

#contact h2 {
    padding-top: 10px;
    padding-left: 10px;
    margin: 20px;
}

#contact div {
    background-color: var(--background);
    padding: 50px;
    border-radius: 50px;
    height: 600px;
    filter: drop-shadow(40px 60px 30px grey);
   
}

#contact div:hover, #contact div:active {
    box-shadow: 1px 1px 10px var(--maintext);
 }

footer {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 40px;
}


 @media (min-width:768px) {
    header, .flex-container, .my-work, #contact {
        height: 1040px ;
    }

    p{
        line-height: 1em;
        margin-top: 15%;
    }

    header nav {
        padding: 20px;
        font-size: 15px;
        background-color: var(--background);
        position: fixed;
        right: 0px;
        top: 20px;
        z-index: 10;
        border-radius: 50px 0 0 50px;
        overflow: auto;
    }

    .flex-container{
            flex-direction: row;
        }

    .flex-container img {
            width: 400px;
        }

    .work {
            display: flex;
            flex-direction: row;
            flex-wrap:wrap;
            justify-content: space-evenly;
            align-items: center;
        }
        
    .work div {
            padding:1em;
        }
     
         
    #my-work .work .card1 img {
             width: 400px;
         }
     
    #my-work .work .card img {
             width: 200px;
         }

    #contact div {
            height: 800px;
            font-size: x-large;
            width: 600px;
            align-items: center;
        }

     }


@media (min-width:1040px) {

    header, .flex-container, #my-work, #contact {
        height: 1040px ;
    }

    h1 {
        font-size: 100px;
    }

    main {
        font-size: x-large;
    }



    .flex-container img {
        width: 600px;
    }

    #my-work .work .card1 img {
        width: 600px;
    }

    #my-work .work .card img {
        width: 300px;
    }


    /* .card1:hover {
        height: 610px;
        width: 410px;
}

    .card:hover {
        height: 610px;
        width: 410px;
    } */
    

    
} 